.markdown-body h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin: 15px 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300
}

.container {
  height: 50vh
}

.card {
  width: 390px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s
}

.round-image {
  width: 100px;
  height: 100px;
  border: 2px solid #fdfcfc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}

.content {
  font-size: 15px
}

.follow {
  border-radius: 25px;
  padding-right: 19px;
  padding-left: 19px;
  height: 47px;
  font-size: 13px;
  width: 160px;
  background-color: #727272;
  border-color: #767676;
}

.follow:hover {
  background-color: #1b191e
}

.card:hover {
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

#title {
  font-size: medium;
}
#title2 {
  font-size: medium;
}
